/**{
	outline: 1px solid red;
}*/
body{

}

.cabeza {
	display: inline-block;
}


.arti{
	border-right: 2px solid black;
	padding-right: 5px;
	color: #000000;
}
.imagen{
	width: 457px;
	height: 265px;
}
.fondo {
	background-color:#D8D8D8; 
}
.lista h4 a{ 
	color: black;
}
.lista1{
	display: inline-block;
}
.footer li{
	list-style: none;
}
.footer ul{
	padding-left: 0px;
}
.lista1 a, .lista2 a, .lista3 a, .lista4 a, .lista5 a{
	color: black;
}
